a, button, input, select, div, span {
    -webkit-tap-highlight-color: transparent
}

html {
    height: 100%
}

body {
    width: 100%;
    min-width: 100% !important;
    height: 100%
}
.box img{
    width: 100%;
    height: 736px;
}

.title{
    position: absolute;
    left: 0;
    top: 0;
}

.title p{
    width: 200px;
    height: 65px;
    font-size:16px;
    line-height: 20px;
    font-weight:bold;
    color:mediumvioletred;
    margin-top: 20px;
    margin-left: 20px;
    z-index:999;
}

.title ul{
    padding: 10px;
}
.title img{
    width: 100%;
    height: 50%;
}


.swiper-container {
    width: 64%;
    height:620px;
    margin: 0;
}
.contain{
    width: 100%;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
    background: url("../img/flowers3.gif");
}


.contain p{
    font-size:18px;
    font-weight:bold;
    margin: 0;
    padding-left: 20px;
    color:lightcoral;
}

.text{
    padding: 20px;
    font-size:18px;
    height: 18px;
    font-weight:bold;
    color:crimson;
    background: url("../img/flowers2.gif") no-repeat;
}

.page{
    width: 60px;
    height: 10px;
    background-color: red;
    padding: 10px;
    border-radius:6px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    bottom: 7px;
}

.page a{
    display: block;
    color:#fff;
    text-align: center;
    font-size:16px;
    line-height: 10px;

}


























